* {
  font-family: munro;
}

body {
  /* background-image: url("https://i.pinimg.com/originals/78/5f/ae/785faebc80b47844dabd4d35aa3eca88.png"); */
  background-image: url("pxfuel.jpg");
  background-repeat: repeat-y;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: munro;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-weight: 300;
  font-size: larger;
  color: #00ff66;
}

@font-face {
  font-family: munro;
  src: url(munro.ttf);
}

.border {
  border-width: 3px;
  border-style: solid;
  border-color: #00ff66;
  border-width: 0.1cm;
  margin-top: 5px;
}

section {
  background-color: #282828;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #00ff66;
}

h1,
h2 {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px #66ff66, 0 0 25px #00ff33, 0 0 5px #33ff00;
}

.dropbtn {
  background-color: #282828;
  color: #00ff66;
  padding: 16px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #00ff66;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #00ff66;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #00ff66;
}

img {
  margin: 0 auto;
  width: 50%;
}
